<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6242182119-i9pcs4g66ic92fvrdn3j9cttg0dtm04b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6242182119-i9pcs4g66ic92fvrdn3j9cttg0dtm04b</string>
	<key>API_KEY</key>
	<string>AIzaSyAdVKSa_mkhdSsEiKuv9cDtxf7A8m8fsxc</string>
	<key>GCM_SENDER_ID</key>
	<string>6242182119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ergnustali.matchthree</string>
	<key>PROJECT_ID</key>
	<string>ios-igor-jet</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-igor-jet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6242182119:ios:a335264b8058d0f0c6d342</string>
</dict>
</plist>